$vicon-book-dollar: "\e600";
$vicon-book-percent: "\e601";
$vicon-briefcase: "\e602";
$vicon-plus-minus: "\e603";
$vicon-calendar-briefcase: "\e604";
$vicon-calendar-clock: "\e605";
$vicon-calendar-user: "\e606";
$vicon-dental-chair: "\e607";
$vicon-doctor-briefcase: "\e608";
$vicon-doctor: "\e609";
$vicon-dollar: "\e60a";
$vicon-exit-o: "\e60b";
$vicon-exit: "\e60c";
$vicon-golf: "\e60d";
$vicon-group: "\e60e";
$vicon-health-card: "\e60f";
$vicon-invoice: "\e610";
$vicon-level-down-bold: "\e611";
$vicon-level-left-bold: "\e612";
$vicon-level-up-bold: "\e613";
$vicon-out: "\e614";
$vicon-pill: "\e615";
$vicon-pills: "\e616";
$vicon-specialist: "\e617";
$vicon-stethoscope: "\e618";
$vicon-teeth: "\e619";
$vicon-user-card: "\e61a";
$vicon-user-check: "\e61b";
$vicon-user-clock: "\e61c";
$vicon-user-heart: "\e61d";
$vicon-absolute-position: "\e61e";
$vicon-accordion-menu: "\e61f";
$vicon-add-dock: "\e620";
$vicon-archives: "\e621";
$vicon-arrow-backward: "\e622";
$vicon-arrow-forward: "\e623";
$vicon-at: "\e624";
$vicon-bell-slash-o: "\e625";
$vicon-bell-slash: "\e626";
$vicon-boat: "\e627";
$vicon-browser: "\e628";
$vicon-bullets: "\e629";
$vicon-button: "\e62a";
$vicon-calc-book: "\e62b";
$vicon-calendar-envelope: "\e62c";
$vicon-car: "\e62d";
$vicon-check-square: "\e62e";
$vicon-child: "\e62f";
$vicon-clipboard-cross: "\e630";
$vicon-clipboard-heart: "\e631";
$vicon-clipboard-pulse: "\e632";
$vicon-clipboard-text: "\e633";
$vicon-clipboard-user: "\e634";
$vicon-clipboard: "\e635";
$vicon-combobox: "\e636";
$vicon-compress-square: "\e637";
$vicon-copyright: "\e638";
$vicon-css: "\e639";
$vicon-curly-brackets: "\e63a";
$vicon-date-input: "\e63b";
$vicon-elastic: "\e63c";
$vicon-envelope-open-o: "\e63d";
$vicon-envelope-open: "\e63e";
$vicon-external-browser: "\e63f";
$vicon-eyedropper: "\e640";
$vicon-factory: "\e641";
$vicon-file-process: "\e642";
$vicon-file-refresh: "\e643";
$vicon-file-start: "\e644";
$vicon-file-tree-small: "\e645";
$vicon-file-tree-sub: "\e646";
$vicon-file-tree: "\e647";
$vicon-adobe-flash: "\e648";
$vicon-flip-h: "\e649";
$vicon-flip-v: "\e64a";
$vicon-form: "\e64b";
$vicon-funcion: "\e64c";
$vicon-grab: "\e64d";
$vicon-grid-bevel: "\e64e";
$vicon-grid-h: "\e64f";
$vicon-grid-v: "\e650";
$vicon-grid: "\e651";
$vicon-hand: "\e652";
$vicon-input: "\e653";
$vicon-layout: "\e654";
$vicon-level-right-bold: "\e655";
$vicon-list-select: "\e656";
$vicon-margin-bottom: "\e657";
$vicon-margin-left: "\e658";
$vicon-margin-right: "\e659";
$vicon-margin-top: "\e65a";
$vicon-margin: "\e65b";
$vicon-native-button: "\e65c";
$vicon-notebook: "\e65d";
$vicon-options: "\e65e";
$vicon-orientation: "\e65f";
$vicon-outbox: "\e660";
$vicon-padding-bottom: "\e661";
$vicon-padding-left: "\e662";
$vicon-padding-right: "\e663";
$vicon-padding-top: "\e664";
$vicon-padding: "\e665";
$vicon-paint-roll: "\e666";
$vicon-palete: "\e667";
$vicon-panel: "\e668";
$vicon-password: "\e669";
$vicon-plug: "\e66a";
$vicon-pointer: "\e66b";
$vicon-progressbar: "\e66c";
$vicon-resize-h: "\e66d";
$vicon-resize-v: "\e66e";
$vicon-rhombus: "\e66f";
$vicon-road-branch: "\e670";
$vicon-road-branches: "\e671";
$vicon-road-split: "\e672";
$vicon-select: "\e673";
$vicon-slider: "\e674";
$vicon-split: "\e675";
$vicon-start-cog: "\e676";
$vicon-stop-cog: "\e677";
$vicon-sword: "\e678";
$vicon-tabs: "\e679";
$vicon-taxi: "\e67a";
$vicon-text-input: "\e67b";
$vicon-text-label: "\e67c";
$vicon-tooth: "\e67d";
$vicon-train: "\e67e";
$vicon-tree-table: "\e67f";
$vicon-twin-col-select: "\e680";
$vicon-viewport: "\e681";
$vicon-abacus: "\e682";
$vicon-accessibility: "\e683";
$vicon-airplane: "\e684";
$vicon-anchor: "\e685";
$vicon-asterisk: "\e686";
$vicon-automation: "\e687";
$vicon-barcode: "\e688";
$vicon-bomb: "\e689";
$vicon-bug-o: "\e68a";
$vicon-bug: "\e68b";
$vicon-calc: "\e68c";
$vicon-chart-line: "\e68d";
$vicon-chart: "\e68e";
$vicon-code: "\e68f";
$vicon-coffee: "\e690";
$vicon-cogs: "\e691";
$vicon-controller: "\e692";
$vicon-corner-lower-left: "\e693";
$vicon-corner-lower-right: "\e694";
$vicon-corner-upper-left: "\e695";
$vicon-corner-upper-right: "\e696";
$vicon-cube: "\e697";
$vicon-cubes: "\e698";
$vicon-download-alt: "\e699";
$vicon-eraser: "\e69a";
$vicon-facebook-square: "\e69b";
$vicon-facebook: "\e69c";
$vicon-female: "\e69d";
$vicon-file-font: "\e69e";
$vicon-file-presentation: "\e69f";
$vicon-file-table: "\e6a0";
$vicon-fill: "\e6a1";
$vicon-filter: "\e6a2";
$vicon-fire: "\e6a3";
$vicon-frown-o: "\e6a4";
$vicon-gavel: "\e6a5";
$vicon-google-plus-square: "\e6a6";
$vicon-google-plus: "\e6a7";
$vicon-hands-up: "\e6a8";
$vicon-hash: "\e6a9";
$vicon-institution: "\e6aa";
$vicon-key-o: "\e6ab";
$vicon-key: "\e6ac";
$vicon-lifebuoy: "\e6ad";
$vicon-lightbulb: "\e6ae";
$vicon-sign-in-alt: "\e6af";
$vicon-sign-out-alt: "\e6b0";
$vicon-magic: "\e6b1";
$vicon-male: "\e6b2";
$vicon-medal: "\e6b3";
$vicon-megafone: "\e6b4";
$vicon-meh-o: "\e6b5";
$vicon-money: "\e6b6";
$vicon-package: "\e6b7";
$vicon-paintbrush: "\e6b8";
$vicon-paperplane: "\e6b9";
$vicon-paperplane2: "\e6ba";
$vicon-paragraph: "\e6bb";
$vicon-paste: "\e6bc";
$vicon-pie-chart: "\e6bd";
$vicon-pin-post: "\e6be";
$vicon-presentation: "\e6bf";
$vicon-puzzle-piece: "\e6c0";
$vicon-qrcode: "\e6c1";
$vicon-quote-left: "\e6c2";
$vicon-quote-right: "\e6c3";
$vicon-raster-lower-left: "\e6c4";
$vicon-raster: "\e6c5";
$vicon-recycle: "\e6c6";
$vicon-road: "\e6c7";
$vicon-rocket: "\e6c8";
$vicon-rss-square: "\e6c9";
$vicon-rss: "\e6ca";
$vicon-safe-lock: "\e6cb";
$vicon-safe: "\e6cc";
$vicon-share-square: "\e6cd";
$vicon-shield: "\e6ce";
$vicon-sliders: "\e6cf";
$vicon-smiley-o: "\e6d0";
$vicon-spinner-arc: "\e6d1";
$vicon-spinner-third: "\e6d2";
$vicon-spinner: "\e6d3";
$vicon-subscript: "\e6d4";
$vicon-superscript: "\e6d5";
$vicon-tag: "\e6d6";
$vicon-tags: "\e6d7";
$vicon-terminal: "\e6d8";
$vicon-thumbs-down-o: "\e6d9";
$vicon-thumbs-down: "\e6da";
$vicon-thumbs-up-o: "\e6db";
$vicon-thumbs-up: "\e6dc";
$vicon-truck: "\e6dd";
$vicon-twitter-square: "\e6de";
$vicon-twitter: "\e6df";
$vicon-umbrella: "\e6e0";
$vicon-upload-alt: "\e6e1";
$vicon-vimeo-square: "\e6e2";
$vicon-vimeo: "\e6e3";
$vicon-youtube-square: "\e6e4";
$vicon-youtube: "\e6e5";
$vicon-angle-double-down: "\e6e6";
$vicon-angle-double-left: "\e6e7";
$vicon-angle-double-right: "\e6e8";
$vicon-angle-double-up: "\e6e9";
$vicon-angle-down: "\e6ea";
$vicon-angle-left: "\e6eb";
$vicon-angle-right: "\e6ec";
$vicon-angle-up: "\e6ed";
$vicon-archive: "\e6ee";
$vicon-arrow-circle-down-o: "\e6ef";
$vicon-arrow-circle-down: "\e6f0";
$vicon-arrow-circle-left-o: "\e6f1";
$vicon-arrow-circle-left: "\e6f2";
$vicon-arrow-circle-right-o: "\e6f3";
$vicon-arrow-circle-right: "\e6f4";
$vicon-arrow-circle-up-o: "\e6f5";
$vicon-arrow-circle-up: "\e6f6";
$vicon-ban: "\e6f7";
$vicon-bold: "\e6f8";
$vicon-book: "\e6f9";
$vicon-bullseye: "\e6fa";
$vicon-cart-o: "\e6fb";
$vicon-cart: "\e6fc";
$vicon-check-square-o: "\e6fd";
$vicon-cross-cutlery: "\e6fe";
$vicon-cutlery: "\e6ff";
$vicon-dashboard: "\e700";
$vicon-disc: "\e701";
$vicon-dot-circle: "\e702";
$vicon-download: "\e703";
$vicon-drop: "\e704";
$vicon-exchange: "\e705";
$vicon-exclamation-circle-o: "\e706";
$vicon-exclamation-circle: "\e707";
$vicon-exclamation: "\e708";
$vicon-eye-slash: "\e709";
$vicon-file-code: "\e70a";
$vicon-file-movie: "\e70b";
$vicon-file-picture: "\e70c";
$vicon-file-sound: "\e70d";
$vicon-file-zip: "\e70e";
$vicon-flag-checkered: "\e70f";
$vicon-flag-o: "\e710";
$vicon-flag: "\e711";
$vicon-flash: "\e712";
$vicon-font: "\e713";
$vicon-gamepad: "\e714";
$vicon-gift: "\e715";
$vicon-handle-corner: "\e716";
$vicon-harddrive-o: "\e717";
$vicon-harddrive: "\e718";
$vicon-header: "\e719";
$vicon-headphones: "\e71a";
$vicon-inbox: "\e71b";
$vicon-info-circle-o: "\e71c";
$vicon-info-circle: "\e71d";
$vicon-info: "\e71e";
$vicon-list-ol: "\e71f";
$vicon-italic: "\e720";
$vicon-keyboard-o: "\e721";
$vicon-keyboard: "\e722";
$vicon-line-h: "\e723";
$vicon-line-v: "\e724";
$vicon-link: "\e725";
$vicon-location-arrow-circle-o: "\e726";
$vicon-location-arrow-circle: "\e727";
$vicon-location-arrow: "\e728";
$vicon-mailbox: "\e729";
$vicon-microphone: "\e72a";
$vicon-modal-list: "\e72b";
$vicon-mute: "\e72c";
$vicon-paperclip: "\e72d";
$vicon-play-circle-o: "\e72e";
$vicon-question-circle-o: "\e72f";
$vicon-question-circle: "\e730";
$vicon-play-circle: "\e731";
$vicon-question: "\e732";
$vicon-random: "\e733";
$vicon-scissors: "\e734";
$vicon-screwdriver: "\e735";
$vicon-server: "\e736";
$vicon-database: "\e737";
$vicon-signal: "\e738";
$vicon-sitemap: "\e739";
$vicon-spoon: "\e73a";
$vicon-strikethrough: "\e73b";
$vicon-sun-o: "\e73c";
$vicon-tasks: "\e73d";
$vicon-text-height: "\e73e";
$vicon-text-width: "\e73f";
$vicon-ticket: "\e740";
$vicon-toolbox: "\e741";
$vicon-tools: "\e742";
$vicon-trophy: "\e743";
$vicon-underline: "\e744";
$vicon-unlink: "\e745";
$vicon-upload: "\e746";
$vicon-users: "\e747";
$vicon-warning: "\e748";
$vicon-wrench: "\e749";
$vicon-adjust: "\e74a";
$vicon-align-center: "\e74b";
$vicon-align-left: "\e74c";
$vicon-align-right: "\e74d";
$vicon-arrow-long-down: "\e74e";
$vicon-arrow-long-left: "\e74f";
$vicon-arrows-cross: "\e750";
$vicon-arrows-long-h: "\e751";
$vicon-arrows-long-right: "\e752";
$vicon-arrows-long-up: "\e753";
$vicon-arrows-long-v: "\e754";
$vicon-arrows: "\e755";
$vicon-backwards: "\e756";
$vicon-bar-chart: "\e757";
$vicon-bell-o: "\e758";
$vicon-bolt: "\e759";
$vicon-chat: "\e75a";
$vicon-check: "\e75b";
$vicon-circle-thin: "\e75c";
$vicon-circle: "\e75d";
$vicon-cloud-download-o: "\e75e";
$vicon-cloud-download: "\e75f";
$vicon-cloud-o: "\e760";
$vicon-cloud-upload-o: "\e761";
$vicon-cloud-upload: "\e762";
$vicon-cloud: "\e763";
$vicon-cog-o: "\e764";
$vicon-comment-ellipsis-o: "\e765";
$vicon-comment-ellipsis: "\e766";
$vicon-comment-o: "\e767";
$vicon-comment: "\e768";
$vicon-comments-o: "\e769";
$vicon-comments: "\e76a";
$vicon-compress: "\e76b";
$vicon-connect-o: "\e76c";
$vicon-connect: "\e76d";
$vicon-credit-card: "\e76e";
$vicon-crop: "\e76f";
$vicon-deindent: "\e770";
$vicon-edit: "\e771";
$vicon-eject: "\e772";
$vicon-ellipsis-h: "\e773";
$vicon-ellipsis-v: "\e774";
$vicon-expand-full: "\e775";
$vicon-expand: "\e776";
$vicon-fast-backward: "\e777";
$vicon-fast-forward: "\e778";
$vicon-film: "\e779";
$vicon-folder-open-o: "\e77a";
$vicon-folder-open: "\e77b";
$vicon-forward: "\e77c";
$vicon-glass: "\e77d";
$vicon-globe: "\e77e";
$vicon-heart-o: "\e77f";
$vicon-heart: "\e780";
$vicon-indent: "\e781";
$vicon-laptop: "\e782";
$vicon-level-down: "\e783";
$vicon-level-left: "\e784";
$vicon-level-right: "\e785";
$vicon-level-up: "\e786";
$vicon-magnet: "\e787";
$vicon-map-marker: "\e788";
$vicon-moon-o: "\e789";
$vicon-moon: "\e78a";
$vicon-movie: "\e78b";
$vicon-music: "\e78c";
$vicon-pause: "\e78d";
$vicon-play: "\e78e";
$vicon-power-off: "\e78f";
$vicon-refresh: "\e790";
$vicon-reply-all: "\e791";
$vicon-reply: "\e792";
$vicon-retweet: "\e793";
$vicon-rotate-left: "\e794";
$vicon-rotate-right: "\e795";
$vicon-share: "\e796";
$vicon-sign-in: "\e797";
$vicon-sign-out: "\e798";
$vicon-sort: "\e799";
$vicon-sound-disable: "\e79a";
$vicon-square-shadow: "\e79b";
$vicon-star-half-left-o: "\e79c";
$vicon-star-half-left: "\e79d";
$vicon-star-half-right-o: "\e79e";
$vicon-star-half-right: "\e79f";
$vicon-star-o: "\e7a0";
$vicon-star: "\e7a1";
$vicon-step-backward: "\e7a2";
$vicon-step-forward: "\e7a3";
$vicon-stop: "\e7a4";
$vicon-table: "\e7a5";
$vicon-thin-square: "\e7a6";
$vicon-time-backward: "\e7a7";
$vicon-time-forward: "\e7a8";
$vicon-volume-down: "\e7a9";
$vicon-volume-off: "\e7aa";
$vicon-volume-up: "\e7ab";
$vicon-volume: "\e7ac";
$vicon-close: "\e7ad";
$vicon-align-justify: "\e7ae";
$vicon-arrow-down: "\e7af";
$vicon-arrow-left: "\e7b0";
$vicon-arrow-right: "\e7b1";
$vicon-arrow-up: "\e7b2";
$vicon-menu: "\e7b3";
$vicon-bell: "\e7b4";
$vicon-bookmark-o: "\e7b5";
$vicon-bookmark: "\e7b6";
$vicon-building-o: "\e7b7";
$vicon-building: "\e7b8";
$vicon-calendar-o: "\e7b9";
$vicon-calendar: "\e7ba";
$vicon-camera: "\e7bb";
$vicon-caret-down: "\e7bc";
$vicon-caret-left: "\e7bd";
$vicon-caret-right: "\e7be";
$vicon-caret-square-down-o: "\e7bf";
$vicon-caret-square-left-o: "\e7c0";
$vicon-caret-square-right-o: "\e7c1";
$vicon-caret-square-up-o: "\e7c2";
$vicon-caret-up: "\e7c3";
$vicon-check-circle-o: "\e7c4";
$vicon-check-circle: "\e7c5";
$vicon-chevron-circle-down-o: "\e7c6";
$vicon-chevron-circle-down: "\e7c7";
$vicon-chevron-circle-left-o: "\e7c8";
$vicon-chevron-circle-left: "\e7c9";
$vicon-chevron-circle-right-o: "\e7ca";
$vicon-chevron-circle-right: "\e7cb";
$vicon-chevron-circle-up-o: "\e7cc";
$vicon-chevron-circle-up: "\e7cd";
$vicon-chevron-down: "\e7ce";
$vicon-chevron-left: "\e7cf";
$vicon-chevron-right: "\e7d0";
$vicon-chevron-up: "\e7d1";
$vicon-clock: "\e7d2";
$vicon-cog: "\e7d3";
$vicon-copy-o: "\e7d4";
$vicon-copy: "\e7d5";
$vicon-crosshairs: "\e7d6";
$vicon-desktop: "\e7d7";
$vicon-insert: "\e7d8";
$vicon-ellipsis-circle-o: "\e7d9";
$vicon-ellipsis-circle: "\e7da";
$vicon-envelope-o: "\e7db";
$vicon-envelope: "\e7dc";
$vicon-expand-square: "\e7dd";
$vicon-external-link: "\e7de";
$vicon-eye: "\e7df";
$vicon-file-o: "\e7e0";
$vicon-file-text-o: "\e7e1";
$vicon-file-text: "\e7e2";
$vicon-file: "\e7e3";
$vicon-flask: "\e7e4";
$vicon-folder-o: "\e7e5";
$vicon-folder: "\e7e6";
$vicon-glasses: "\e7e7";
$vicon-grid-big-o: "\e7e8";
$vicon-grid-big: "\e7e9";
$vicon-grid-small-o: "\e7ea";
$vicon-grid-small: "\e7eb";
$vicon-home-o: "\e7ec";
$vicon-home: "\e7ed";
$vicon-lines-list: "\e7ee";
$vicon-lines: "\e7ef";
$vicon-list-ul: "\e7f0";
$vicon-list: "\e7f1";
$vicon-lock: "\e7f2";
$vicon-minus-circle-o: "\e7f3";
$vicon-minus-circle: "\e7f4";
$vicon-minus-square-left-o: "\e7f5";
$vicon-minus: "\e7f6";
$vicon-mobile: "\e7f7";
$vicon-modal: "\e7f8";
$vicon-open-book: "\e7f9";
$vicon-pencil: "\e7fa";
$vicon-phone: "\e7fb";
$vicon-picture: "\e7fc";
$vicon-pin: "\e7fd";
$vicon-plus-circle-o: "\e7fe";
$vicon-plus-circle: "\e7ff";
$vicon-plus-square-left-o: "\e800";
$vicon-plus: "\e801";
$vicon-print: "\e802";
$vicon-search-minus: "\e803";
$vicon-search-plus: "\e804";
$vicon-search: "\e805";
$vicon-area-select: "\e806";
$vicon-split-h: "\e807";
$vicon-split-v: "\e808";
$vicon-suitcase: "\e809";
$vicon-tablet: "\e80a";
$vicon-trash: "\e80b";
$vicon-unlock: "\e80c";
$vicon-user: "\e80d";
$vicon-vaadin-h: "\e80e";
$vicon-vaadin-v: "\e80f";
$vicon-close-circle-o: "\e810";
$vicon-close-circle: "\e811";
